    <div class=" container mx-auto m-10 bg-white p-5 shadow">
        <div class="hover:bg-blue-200 transition-colors m-10 bg-blue-50 p-5 shadow">

            <h1 class="text-5xl font-bold text-gray-1000 leading-tight">Misión y Propocitos</h1>
            <ol>
                <li><strong>Desempeñoacademico:</strong> Nosotros alcanzar la excelencia en la enseñanza y el aprendizaje, ofreciendo un plan de estudios sólido que promueva la adquisición de conocimientos, habilidades.</li>
                <li><strong>Emprendimiento y Liderazgo:</strong> Abrazamos prácticas pedagógicas innovadoras que se adaptan a las necesidades individuales de nuestros estudiantes, fomentando la creatividad, el pensamiento crítico y la resolución de problemas.</li>
                <li><strong>Aprendizaje Basado en Proyectos:</strong>Implementar enfoques pedagógicos que involucren a los estudiantes en proyectos prácticos y significativos, donde puedan aplicar los conocimientos adquiridos en contextos reales y desarrollar habilidades de colaboración, comunicación y resolución de problemas.</li>
                <li><strong>Colaboración Global::</strong>Fomentar la colaboración y el intercambio cultural a nivel global, a través de asociaciones con escuelas y organizaciones internacionales, programas de intercambio estudiantil y actividades que promuevan el entendimiento intercultural.</li>
            </ol>
    
            <p><strong>Nosotros nos comprometemos:</strong> A educar a los estudiantes para que se conviertan en ciudadanos comprometidos, conscientes y capacitados, capaces de contribuir positivamente a la sociedad y enfrentar los desafíos globales con empatía y resiliencia.</p>
        </div>
    </div>