<div class=" container mx-auto m-10 bg-white p-5 shadow">
    <div class="hover:bg-blue-200 transition-colors m-10 bg-white p-5 shadow">

            <h1 class="text-5xl font-bold text-gray-1000 leading-tight">Incripciones:Requisitos</h1>
            <ol>
                <li><strong>Documentos de identificación:</strong> Es posible que se requiera presentar documentos de identificación, como el certificado de nacimiento o la tarjeta de identificación del estudiante. </li>
                <li><strong>Formulario de inscripción:</strong>Por lo general, se debe completar un formulario de inscripción proporcionado por la escuela. Este formulario puede incluir información personal del estudiante y de los padres o tutores.</li>
                <li><strong>Pruebas de admisión:</strong>En algunas escuelas, especialmente en niveles educativos superiores, puede ser necesario realizar pruebas de admisión para evaluar el nivel académico del estudiante.</li>
                <li><strong>Certificados de estudios anteriores:</strong>Es posible que se solicite la presentación de certificados o boletines de calificaciones de estudios anteriores, especialmente si el estudiante está transfiriéndose de otra escuela.</li>
                <li><strong>Comprobante de domicilio:</strong>Algunas escuelas pueden requerir un comprobante de domicilio, como una factura de servicios públicos, para verificar la residencia del estudiante en el área de la escuela. </li>
                <li><strong>Vacunas y registros de salud:</strong>En muchos unidades educativas, se requiere que los estudiantes estén al día con las vacunas y presenten registros de salud actualizados al momento de la inscripción.
    
                </li>
            </ol>
    
            <p><strong>El Comproniso de Nosotros</strong> Es de educar a sus hijos de manera responsable y educarlos para sus futuros.</p>
            </div>
    </div>